language: go

go:
  - 1.12

matrix:
  fast_finish: true

env:
  global:
    GO111MODULE=on

install:
  - go get golang.org/x/lint/golint

script:
  - go build -mod=vendor
  - golint -set_exit_status src/...
  - diff -u <(echo -n) <(gofmt -d internal/)
  - diff -u <(echo -n) <(gofmt -d main.go)
